.outer-container-nav{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.button-container{
    transition: all 0.5s linear;
    cursor: pointer;
}
.button-container:hover{
   /* color: white; */
   background-color: #2563eb;
}
.button-container button:hover{
    color: white;
}

#menu-btn{
    display: none;
}
#clear-btn{
    display: none;
}
@media (max-width:800px) {
    #jobTracker{
        font-size: 1.5rem;
    }
    #menu-btn{
        display: block;
    }
    #clear-btn{
        display: block;
    }
    #total{
        display: none;
    }
    .button-container{
        display: none;
    }
}