/* #box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
#card-detail{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@media (max-width:1228px) {
    #card-detail{
        width: 100%;
    }
}
#input-text{
    padding: 0.1rem 0.1rem;
    /* background-color: red; */
    font-size: 0.8rem;
    outline: 1px solid rgb(42, 42, 202);
    width:60%;
}